/* Body principal */
body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
}

body button {
    background-color: #414141;
}

/* Errores */

.error {
    color: red;
}

/*PARTE SUPERIOR. IMAGEN Y TITULO*/
#parteSuperiorInicio {
    margin-top: 3%;
    margin-bottom: 3%;
    align-items: center;
}

#tituloInicio {
    display: flex;
    flex-direction: row;
    border: 1px ;
    padding: 3%;
    box-shadow: 5px 10px 15px 5px #888888;
}

#tituloInicio img {
    width: 100%;
}

#textoTitulo {
    margin-left: 10%;
    width: 100%;
}

#imagenTitulo {
    width: 100%;
    min-width: 120px;
    min-height: 90px;
}

.imagenMegafono {
    width: 15%;
    min-width: 50px;
}

/*NAV */

.navInicio {
    display: flex;
    width: 100%;
    align-self: center;
}

.navInicio a{
    justify-content: center;
}

.navInicio ul li {
    display: inline-block;
    float: none;
}

.navInicio ul{
    width: 100%;
    display: table;
    text-align: center;
    list-style-type: none;
    background-color: #414141;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px ;
    box-shadow: 5px 10px 15px 5px #888888;
}

.navInicio li {
    float: left;
}

.navInicio li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navInicio li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*Contenido Central*/
.contenidoCentral {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 3%;
}
/* Contenido IZquierda */
.contenidoIzquierda, .contenidoIzquierdaIncidencias {
    border: 1px ;
    box-shadow: 5px 10px 15px 5px #888888;
    padding: 5%;
    margin-right: 5%;
}

/*Contenido derecha*/
#avatarImg{
    width: 35%;
    height: 35%;
}

.rightSideInicio {
    display: flex;
    flex-direction: column;
}

/* Formularios */
.loginContainer input[type=text], .loginContainer input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Formulario Login */
#formLogin {
    min-width: 150px;
    padding: 5%;
    border: 1px ;
    box-shadow: 5px 10px 15px 5px #888888;
}

.contenidoCentral input[type=email],.contenidoCentral input[type=password], .contenidoCentral select {
    margin: 8px 0;
    border: 1px solid #ccc;
}

.contenidoCentral input[type=text],textarea{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contenidoCentral textarea {
    resize: none;
}

.formularioContainer {
    width: 70%;
    clear: both;
}

.formularioContainer input, textarea {
    width: 100%;
    clear: both;
}

.formularioContainer button {
    margin-top: 5%;
}

.formularioBloque  {
    margin-bottom: 7%;
}

/*Main*/
main {
    width: 80%;
}

.rightSideInicio {
    width: 25%;
}

#botonesPerfilUsuario{
    display: flex;
}

/* Cambiar de opacidad el boton cuando es seleccionado*/
button:hover {
    opacity: 0.8;
}

button {
    background-color: #414141;
    color: white;
}

/* Imagen perfil usuario */
.imgcontainer {
    text-align: center;
}

/* Mensajes de Error */
#errormsg{
    color:red;
}

/* Aside mas populares */
#populares{
    margin-top: 10%;
    border: 1px ;
    box-shadow: 5px 10px 15px 5px #888888;
    padding: 10%;
}

#populares * {
    margin-left: 5%;
}

/*Footer*/
footer {
    padding: 3%;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 10px 10px 8px #888888;
}

footer h3, footer a {
    width: 25%;
}


footer a {
    font-weight: bold;
    margin-top: 1.5%;
    list-style: none;
    text-decoration: none;
}

.descripcionIncidencia{
    width: 70%;
}
/* Incidencias */

.botonesIncidencias img {
    width: 60%;
    min-width: 20px;
}
.imagenIncidencia {
    width: 40%;
    min-width: 170px;
    min-height: 140px;
}

.incidencias {
    margin-top: 3%;
    padding: 5%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #b8b8b8;
}

.comentarioIncidencia{
    display: flex;
    flex-direction: row;
    max-width: 70%;
}

.autoryboton {
    width: 50%;
    display: flex;
    flex-direction: row;
}

#imagenPerfilUsuarioEditar {
    width: 40%;
    padding: 4%;
}

#fotoSection {
    margin-bottom: 3%;
}

.idautorcomentario {
    width: 30%;
}

.idformcomentario {
    width: 25%;
}

.textoComentario {
    width: 50%;
}

.encabezadoIncidencia {
    display: flex;
    flex-direction: column;
}

.infoIncidencia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Boton Borrar incidencias*/
.botonBorrarIncidencia img {
    width: 100%;
}

/*Botones Herramientas de un comentario*/

.botonesIncidencias{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 4%;
    margin-left: 4%;
    margin-top: 4%;
    max-width: 80%;
}

.botonesIncidencias button, .botonBorrarIncidencia {
    min-width: 50px;
    background-color: Transparent;
    width: 10%;
    border: none;
    cursor: pointer;
    border-radius: 60%;
}

/* Boton logout */
#botonLogout{
    margin-left: 25%;
}

#botonEditarPerfil {
    margin-left: 4%;
}

/* Boton Login */

#botonLogin {
    margin-left: 40%;
    margin-top: 10%;
}

/* Perfil de Usuario botones */
#botonesPerfilUsuario button {
    display: flex;
    justify-content: center;
}

/* Editar Incidencia, Formulario triple */
.formularioEstadoIncidencia {
    display: flex;
    flex-direction: row;
}

#botonEditarIncidencia {
    margin-top: 3%;
}

#bloqueEditarIncidencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.autoryboton {
    display: flex;
    justify-content: space-evenly;
}

.exito {
    color: green;
}

/* Media Querys */

@media screen and (max-width: 1300px) {
    #botonLogout {
        margin-left: 4%;
    }

}

@media screen and (max-width: 1000px) {
    .contenidoCentral {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contenidoIzquierdaIncidencias, .contenidoIzquierda {
        width: 90%;
    }

    .rightSideInicio {
        width: 100%;
    }

    .rightSideInicio {
        margin-top: 10%;
    }

    #botonLogout {
        margin-left: 37%;
    }

    #botonesPerfilUsuario {
        margin-top: 5%;
    }

    .comentarioIncidencia {
        display: inline;
    }

    .textoComentario{
        max-width: 200px;
        width: 100%;
    }

}

@media screen and (max-width: 600px) {

    .contenidoIzquierda {
        margin-right: 0;
    }

    .bloqueComentarios {
        margin-left: 14%;
        max-width: 70%;
    }

    .infoIncidencia {
        width: 100%;
        display: inline;
    }

    .formularioContainer {
        width: 100%;
    }

    footer {
        display: inline;
    }

    footer h3, footer a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}


@media screen and (max-width: 1000px) {

    #ordenarContainer {
        display: inline;
    }

    .formularioEstadoIncidencia{
        display: inline;
    }

}

@media screen and (max-width: 500px) {
    .navInicio li{
        float: none;
        width: 100%;
    }

    #botonLogout {
        margin-left: 20%;
    }

}

