.gestionUsuariosTop {
    display: flex;
    flex-direction: column;
}

.listarUsuarios{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    padding: 3%;
}

#imagenPerfilUsuario img{
    width: 30%;
}

#datosUsuario {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#separator {
    width: 10%;
}

#botonesEditarBorrarUsuario {
    display: flex;
    flex-direction: column;
}

#botonesEditarBorrarUsuario button img {
    width: 20%;
    margin-left: 70%;
} 

#botonesEditarBorrarUsuario button{ 
    background-color: white;
    margin-top: 2%;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 3%;
    margin-bottom: 2%;
    cursor: pointer;
    border-radius: 60%; 
}

.bloqueListarUsuarios {
    display: flex;
    flex-direction: row;
    padding: 3%;
    border: 1px solid;
}

.fotoListarUsuario img{
    width: 75px;
    height: 100px;;
}

.fotoListarUsuario {
    width: 30%;
}

.datosListarUsuario {
    width: 100%;
}

.botonesListarUsuario {
    width: 20%;
}

.datosListarUsuario {
    display: flex;
    flex-direction: row;
}

.datosListarUsuario div {
    margin-left: 5%;
}

.botonesListarUsuario button ,.botonesListarUsuario a{
    min-width: 50px;
    background-color: Transparent;
    width: 10%;
    border: none;
    cursor: pointer;
    border-radius: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 4%;
    margin-left: 4%;
    margin-top: 4%;
    max-width: 80%;
}
/*
.nuevoUsuario h1, .gestionUsuariosTop h1 {
    margin-left: 50%;
}
*/
#formSeguroBorrar{
    margin-bottom: 5%;
}
/* Seccion subir foto*/
#fotoSection {
    display: flex;
    justify-content: space-between;
}

/* Password Div */
#passwordContainer input{
    display: flex;
    flex-direction: row;
    width: 50%;
}

#passwordContainer{
    display: flex;
    flex-direction: row;
}

/* Separador para los input de password */
#separatorPassword {
    width: 5%;
}


#fotoUpload {
    margin-left: 30%;
}
