/* Bloque de filtrado */

#ordenarContainer {
    display: flex;
    flex-direction: row;
}

#selectPag {
    margin-top: 3%;
    margin-bottom: 3%;
}
#selectPag select {
    margin-left: 3%;
    width: 15%;
}

#comentarIncidencia {
    margin-top: 10%;
}
#comentarIncidencia input{
    display: flex;
    flex-direction: row;
    width: 80%;
}

#comentarIncidencia button {
    margin-top: 3%;
    margin-left: 30%;
}

