/* Bloque de filtrado */

#ordenarContainer {
    display: flex;
    flex-direction: row;
}

#selectPag {
    margin-top: 3%;
    margin-bottom: 3%;
}
#selectPag select {
    margin-left: 3%;
    width: 15%;
}
<<<<<<< HEAD

.botonesIncidencias buton {
    margin-left: 25%;
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
}
=======
>>>>>>> d5bcb9bba50b10ea915d3712fd199486dc4cee0f
